name: Gmail to CSV

on:
  schedule:
    - cron: "5 * * * *"  # ogni ora alle XX:05
  workflow_dispatch:    # permette di lanciare manualmente il workflow

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install py7zr

      - name: Run Gmail script
        run: python gmail_extract_and_forward.py
        env:
          EMAIL: ${{ secrets.EMAIL }}
          APP_PASSWORD: ${{ secrets.APP_PASSWORD }}
          ZIP_PASSWORD: ${{ secrets.ZIP_PASSWORD }}
          SEND_TO: ${{ secrets.SEND_TO }}
